body{
    width: 100%;
    margin: auto;
    background-color: rgb(238, 233, 233);
   
}
#Logo{
    border-radius: 50%;
}
header{
    background-color: rgb(117, 223, 255);
    margin-top: -23px;
}

ol{
    padding: 0%;
    
}
li{
    display: inline-block;
    background-color: rgba(65, 61, 61, 0.76);
    text-align: center;
    width: calc(100%/4);
    padding: 10px 0;
    font-size: 15px;
    text-decoration: none;
}

li:hover{
    background-color: rgb(28, 196, 79);
    color: black;
}
div{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
    padding: 20px;
}
footer{
    text-align: center;
    background-color: blueviolet;
}
a{
    text-decoration: none;
   color: rgb(0, 0, 0);
}
.float{
    float: left;
}
.navegacion{
    color: rgb(255, 255, 255);
}
#CategoriaIsla{
    display: inline-block;
}